.sportMenu ul {
  list-style-type:  none;
}

.sportMenu li {
  border-top: 1px lightgray solid;
}

.sportMenu li:last-child {
  border-bottom: 1px lightgray solid;
}

.title {
  font-size: 21px;
  font-weight: bold;
  padding: 10px;
}

.itemBtn {
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 10px 10px;
  font-size: 18px;
  background: none;
  border: none;
  text-decoration: none;
  color: initial;
}

.itemBtn:hover, .itemBtn:global(.active) {
  cursor: pointer;
  background: lightgray;
}